@font-face {
  font-family: Inter;
  src: url('./Inter-VariableFont_slnt,wght.ttf');
}

body {
  font-family: 'Inter';

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  min-height: 100%;
  overflow: hidden;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  text-transform: uppercase;
  text-align: center;
}

.button-container, .refresh-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 1.5rem;
  font-family: Inter;
  color: black;
  background-color: white;
  border-radius: 1rem;
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: 500;
  cursor: pointer;

  transition: 0.25s all ease-in-out;
}

button:hover {
  color: white;
  background-color: black;
}

.sheet-results-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: 100%;
  height: 70vh;
  /* height: 100%; */
}

.results-center-container {
  width: 90%;
  height: 69vh;
  /* height: 82vh; */
  position: relative;
}

img {
  width: 80px;
  height: 80px;
}

.candidate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.candidate-text-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  width: 100%;
  margin: 0.4rem;
}

.candidate-text-container-reversed {
  align-items: flex-start;
  text-align: left;
}

.candidate-name {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 3rem;
  text-transform: uppercase;
}

.candidate-vote-total {
  line-height: 2rem;
  font-size: 1.25rem;
}

.candidate-image {
  border-radius: 50%;
  border: 0.2rem solid #292D32;
}

.vote-progress-container {
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vote-progress-bar-container {
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.vote-progress-text-container {
  margin: 0.5rem;
}

.vote-progress-main-text {
  font-weight: 700;
  line-height: 1.5rem;
}